<div class="container mx-auto p-5 font-sans">
  <h1 class="text-3xl font-bold text-center mt-8 mb-12">WARF Calculator</h1>

  <div class="flex flex-col lg:flex-row gap-16">
    <div class="lg:w-1/3 p-5">
      <div class="mb-64">
        <label for="fundSelect" class="block text-lg font-medium mb-2"
          >Select CLO Fund:</label
        >
        <select
          id="fundSelect"
          class="w-full border border-gray-300 text-slate-800 rounded-lg p-2"
          (change)="onFundSelect($event)"
        >
          <option value=""  disabled selected>Select a Fund</option>
          <option *ngFor="let fund of funds" [value]="fund.fund">
            {{ fund.fund }}
          </option>
        </select>
      </div>

      <div class="flex flex-row justify-between mt-12">
        <h3 class="text-2xl font-semibold mb-6">Optimize Results</h3>
        @if(selectedFund) {
          <button (click)="resetSliders()" title="Resest to CLO Values" class="mb-6">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 21 21"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g
                fill="none"
                fill-rule="evenodd"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-linejoin="round"
                transform="matrix(0 1 1 0 2.5 2.5)"
              >
                <path
                  d="m3.98652376 1.07807068c-2.38377179 1.38514556-3.98652376 3.96636605-3.98652376 6.92192932 0 4.418278 3.581722 8 8 8s8-3.581722 8-8-3.581722-8-8-8"
                />
                <path d="m4 1v4h-4" transform="matrix(1 0 0 -1 0 6)" />
              </g>
            </svg>
          </button>
        }
      </div>

      <div class="space-y-6">
        <div>
          <label for="wasSlider" class="block text-lg font-medium mb-4">
            WAS: <span [ngClass]="sliderColorClass(adjustedValues.Result.WAS)">{{ adjustedValues.Result.WAS.toFixed(2) }} % </span>
          </label>
          <div class="flex justify-between text-sm text-white">
            @if(selectedFundData) {
            <span>{{ (selectedFundData.Result.WAS - 5).toFixed(2) }} %</span>
            <span>{{ (selectedFundData.Result.WAS + 5).toFixed(2) }} %</span>
            }
          </div>
          <input
            id="wasSlider"
            type="range"
            min="-5"
            max="5"
            step="0.2"
            class="w-full"
            [(ngModel)]="adjustments.Result.WAS"
            (input)="updateAdjustedValues()"
          />
        </div>

        <div>
          <label for="diversitySlider" class="block text-lg font-medium mb-4"
            >Diversity: <span [ngClass]="sliderColorClass(adjustedValues.Result.Diversity)">{{ adjustedValues.Result.Diversity}} </span>
          </label>
          <div class="flex justify-between text-sm text-white">
            @if(selectedFundData) {
            <span>{{ adjustedValues.Result.Diversity - 5 }}</span>
            <span>{{ adjustedValues.Result.Diversity + 5 }}</span>
            }
          </div>
          <input
            id="diversitySlider"
            type="range"
            min="-5"
            max="5"
            class="w-full"
            [(ngModel)]="adjustments.Result.Diversity"
            (input)="updateAdjustedValues()"
          />
        </div>

        <div>
          <label for="mrrSlider" class="block text-lg font-medium mb-4">
            MARR: <span [ngClass]="sliderColorClass(adjustedValues.Result.MRR)">{{ adjustedValues.Result.MRR}} % </span>
          </label>
          <div class="flex justify-between text-sm text-white">
            @if(selectedFundData) {
            <span>{{ adjustedValues.Result.MRR - 5 }}</span>
            <span>{{ adjustedValues.Result.MRR + 5 }}</span>
            }
          </div>
          <input
            id="mrrSlider"
            type="range"
            min="-5"
            max="5"
            step="0.2"
            class="w-full"
            [(ngModel)]="adjustments.Result.MRR"
            (input)="updateAdjustedValues()"
          />
        </div>
      </div>
    </div>

    <div class="lg:w-2/3 p-5">
      <table
        class="table-auto w-full border border-gray-300 text-center mt-8 mb-12"
      >
        <thead class="bg-gray-100">
          <tr>
            <th class="p-3 border border-gray-300 text-slate-800">Metrics</th>
            <th
              *ngFor="let fund of fundColumns"
              class="p-3 border border-gray-300 text-slate-800"
            >
              {{ fund }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="selectedFundData; else noFundSelected">
          <tr>
            <td class="p-3 border border-gray-300">Result</td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Result.WAS }}%
            </td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Result.Diversity }}
            </td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Result.WARF }}
            </td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Result.MRR }}%
            </td>
          </tr>
          <tr>
            <td class="p-3 border border-gray-300">Limit</td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Limit.WAS }}%
            </td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Limit.Diversity }}
            </td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Limit.WARF }}
            </td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Limit.MRR }}%
            </td>
          </tr>
          <tr>
            <td class="p-3 border border-gray-300">Cushion</td>
            <td class="p-3 border border-gray-300">
              {{
                (
                  selectedFundData.Result.WAS - selectedFundData.Limit.WAS
                ).toFixed(2)
              }}%
            </td>
            <td class="p-3 border border-gray-300">
              {{
                selectedFundData.Result.Diversity -
                  selectedFundData.Limit.Diversity
              }}
            </td>
            <td class="p-3 border border-gray-300">
              {{ selectedFundData.Limit.WARF - selectedFundData.Result.WARF }}
            </td>
            <td class="p-3 border border-gray-300">
              {{
                (
                  selectedFundData.Result.MRR - selectedFundData.Limit.MRR
                ).toFixed(2)
              }}%
            </td>
          </tr>
          <tr>
            <td class="p-3 border border-gray-300">Pass/Fail</td>
            <td
              class="p-3 border border-gray-300 font-semibold"
              [ngClass]="resultColorClass(selectedFundData.result.WAS)"
            >
              {{ selectedFundData.result.WAS }}
            </td>
            <td
              class="p-3 border border-gray-300 font-semibold"
              [ngClass]="resultColorClass(selectedFundData.result.Diversity)"
            >
              {{ selectedFundData.result.Diversity }}
            </td>
            <td
              class="p-3 border border-gray-300 font-semibold"
              [ngClass]="resultColorClass(selectedFundData.result.MRR)"
            >
              {{ selectedFundData.result.MRR }}
            </td>
            <td
              class="p-3 border border-gray-300 font-semibold"
              [ngClass]="resultColorClass(selectedFundData.result.WARF)"
            >
              {{ selectedFundData.result.WARF }}
            </td>
          </tr>
          
        </tbody>
        <ng-template #noFundSelected>
          <tr>
            <td colspan="5" class="p-3 border border-gray-300">
              No fund selected.
            </td>
          </tr>
        </ng-template>
      </table>

      <table class="table-auto w-full border border-gray-300 text-center">
        <thead class="bg-gray-100">
          <tr>
            <th class="p-3 border border-gray-300 text-slate-800">
              New WARF Limit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-3 border border-gray-300">2809.00</td>
          </tr>
        </tbody>
      </table>

      <div class="text-center mt-12">
        Result: {{ adjustedValues.Result.WAS.toFixed(2) }}%
      </div>
    </div>
  </div>
</div>
